﻿{% extends 'layout.html' %}

{% block title %}Books{% endblock %}
{% block content %}
<div>{{ book[0].author }}:</div>
<ul>
    {% for key, item in book %}
    <li>
        {{ item.name }}
    </li>
    {% endfor %}
</ul>
{% endblock %}