{% extends 'layout.html' %}

{% block title %}
 Book
{% endblock %}
{% block content %}
    <b>Author: <a href="/view/blabla/{{ book[0].author }}">{{ book[0].author }}</a>
    </b>
    </br>
    <b>Name: {{ book[0].name }}</b>
    </br>
    <b>ISBN: {{ book[0].isbn }}</b>
    </br>
    <a href="/view/books"><=Return to list</a>
{% endblock %}
