<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} Books store {% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
   <section id="content">
    {% block content %}
      <div>Welcome to the best book store =)</div>
      <a href="/view/books">View books</a>
    {% endblock %}
   </section>
  <footer>
 </footer>
</body>
</html>
