{% extends 'layout.html' %}

{% block title %}Books{% endblock %}
{% block content %}
  <div>Books assortment:</div>
  <ul>
    {% for key, book in books %}
      <li>
          <a href="/view/bookById/{{ key }}">{{ book.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
